@import url("photographer.css");
@import url("/css/base/global.css");
@import url("/css/base/reset.css");
@import url("/css/components/button.css");
@import url("/css/components/cards.css");
@import url("/css/layouts/header.css");


body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

