.codegpt
.vscode
node_modules
jest.config.js
eslint.config.js
.babel.rc
test
RenameMediaFiles.ps1
script-optimizer
audit-npm-report.json
convertToWebP.sh
db.json
index.js
postcss.config.js
RenameMediaFiles.ps1
stats.json
webpack.config.mjs
scss
tests
reports
dist
assets


