

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 5%;
}


.logo {
    width: 100px;
    height: auto;
    margin-right: 20px;

}


h1 {
    font-size: var(--font-size-base);
    color: var(--primary-color);
    margin: 0;
}

/*-------------------------------------------------------------------------*/
/*                        Media Queries                                    */
/*-------------------------------------------------------------------------*/

@media (min-width:768px) {
    .logo {
        width: 200px;
    }
}