#gallery {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    object-position: center;
    margin:0 auto;

    @include tablet {
        display: grid;
        grid-template-columns: repeat(2, 45%);
        margin: 0 auto;
        width:100%
    }
    @include desktop {
        display: grid;
        grid-template-columns: repeat(3, 30%);
        margin: 0 auto ;
        width:90%
    }
}

