/* =============================================================================
    Projet      : Fisheye
    Fichier     : _modal.scss
    Auteur      : Trackozor
    Date        : 08/01/2025
    Version     : 1.2.0
    Description : Styles pour les modales de l'application Fisheye
============================================================================= */

/* Conteneur principal de la modal */
.modal {
  display: flex; /* Masquée par défaut */
  position: fixed; /* Position fixe */
  z-index: 100; /* Au-dessus des autres éléments */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #db8876; /* Couleur de fond */
  border-radius: 5px;
  display: flex; /* Flexbox pour centrer le contenu */
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(0.9); /* Animation d'apparition */
  transition: opacity 0.3s ease, transform 0.3s ease;

  &.active {
    display: flex; /* Affiche la modal */
    opacity: 1;
    transform: scale(1); /* Taille normale */
  }

  &.error-modal {
    background-color: #ff6b6b; /* Fond rouge en cas d'erreur */
  }
}

/* Overlay de la modal */
#modal-overlay {
  display: none;
  position: fixed;
  z-index: 9999; /* Positionne la modale au-dessus des autres éléments */
  left: 50%; /* Centre horizontalement */
  transform: translateX(-50%); /* Corrige le centrage horizontal */
  width: 100%; /* Occupe toute la largeur pour un effet plein écran */
  height: 100%; /* Permet à la hauteur de s'adapter au contenu */
  background-color: #232323; /* Définit un fond gris très foncé, idéal pour le contraste avec du texte clair */
  color: white; /* Texte blanc */
  overflow-y: auto; /* Permet le défilement si le contenu dépasse la hauteur visible */
  border-radius: 1%; /* Coin arrondis */

}

/* Modal de contact */
#contact-modal {
  display: none;
  margin: 0 auto;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

  #contact-modal.active {
    display: flex;
    opacity: 1;
    transform: scale(1); /* Taille normale */
}

/* Groupe de champs de formulaire */
.form-group {
  width: 85vw;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

/* Labels des champs */
.form-group label {
  font-size: 1rem;
  margin: 2% 0;
}

/* Champs de saisie */
.form-group input,
.form-group textarea {
  font-size: 1rem;
  padding: 2%;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  width: 100%;
  box-sizing: border-box;
}

/* Bouton d'envoi */
.contact-button {
  background-color: #901c1c;
  color: white;
  padding: 3%;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  max-width: 150px;
  max-height: 70px;
  transition: background-color 0.3s ease;

}

/* Classe pour désactiver le défilement quand la modal est ouverte */
body.no-scroll {
  overflow: hidden; /* Désactive le défilement */
}
