/* =============================================================================
  Projet      : Fisheye
  Fichier     : _modal.scss
  Auteur      : Trackozor
  Date        : 08/01/2025
  Version     : 1.3.0
  Description : Styles pour la modale (mobile-first), avec des ajustements
                pour différents écrans et un design accessible.
============================================================================= */

/* -------------------------------------------------------------------------- */
/*                               OVERLAY                                      */
/* -------------------------------------------------------------------------- */
#modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(243, 233, 233, 0.7); /* Fond sombre avec opacité */
  z-index: 9998; /* Sous la modale */
}

#modal-overlay.modal-active{
  display: flex;
  opacity:1;
}

/* -------------------------------------------------------------------------- */
/*                            MODAL GÉNÉRIQUE                                 */
/* -------------------------------------------------------------------------- */
.modal {
  display: none; /* Masquée par défaut */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%; /* Largeur par défaut sur mobile */
  max-width: 400px; /* Largeur max pour les grands écrans */
  background-color: var(--secondary-color); /* Fond blanc */
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.7); /* Ombre légère */
  border-radius: 0.1rem; /* Coins arrondis */
  z-index: 9999; /* Priorité d'affichage élevée */
  opacity: 0; /* Masquée par défaut */
  transform: translate(-50%, -50%) scale(0.9); /* Animation initiale réduite */
  transition: opacity 0.3s ease, transform 0.3s ease;

  @include tablet {
    height:auto;
  }

  &.modal-active {
    display: flex;
    flex-direction: column; /* Organisation verticale */
    justify-content: center;
    align-items: center;
    opacity: 1; /* Visible */
    transform: translate(-50%, -50%) scale(1); /* Taille normale */
  }
}

/* -------------------------------------------------------------------------- */
/*                          BOUTON DE FERMETURE                               */
/* -------------------------------------------------------------------------- */
.modal-close  {
  position: absolute;
  top: 2%;
  right: 5%;
  background: none;
  border: none;
  font-size: 2rem;
  color:white; /* Couleur neutre */
  cursor: pointer;

  &:hover {
    color: #901c1c; /* Couleur de survol */
  }
}

/* -------------------------------------------------------------------------- */
/*                               CONTENU                                       */
/* -------------------------------------------------------------------------- */
.content {
  padding: 2%;
  width: 90%;
}
.modal-header {
  flex-direction: column; /* Organise le titre et le nom verticalement */
  gap: 0.5rem; /* Ajoute un espacement entre le titre et le nom */
  text-align: left;
  margin-bottom: 1rem; /* Ajoute un espacement en bas */
  width:80%;
  margin:5% 0;
  font-size: 1.5rem;
  padding:0;
}
/* -------------------------------------------------------------------------- */
/*                          FORMULAIRE DE LA MODALE                           */
/* -------------------------------------------------------------------------- */
form {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Espacement entre les champs */
  width: 100%;
}

/* Groupes de champs */
.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left; /* Alignement à gauche pour les labels */
}

/* Labels */
.form-group label {
  font-size: 0.9rem;
  margin-bottom: 5px;
  color: #333; /* Texte sombre */
}

/* Champs de saisie */
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc; /* Bordure grise */
  border-radius: 5px;
  box-sizing: border-box;
}

/* Bouton d'envoi */
.contact-submit-button {
  background-color: #901c1c;
  position:relative;
  color: #fff;
  border: none;
  width:20%;
  padding:5% 8%;
  font-size: 0.7rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;

  &:hover {
    background-color: #b42a2a;
  }
}

/* Classe pour les bordures rouges des champs avec des erreurs */
input.error-input, textarea.error-input {
  border: 2px solid red; /* Bordure rouge pour indiquer une erreur */
  box-shadow: 0 0 1rem red; /* Ombre rouge pour mettre en évidence l'erreur */
}

/*----------------------------------------------------------------*/
/* Classe pour le message d'erreur */
.error-modal {
  display: block; /* Rend l'erreur visible */
  font-size: 1rem; /* Taille de police légèrement réduite */
  background-color:#232323; /* Fond noir pour contraster avec le texte */
  color: #fe142f; /* Texte rouge pour indiquer une erreur */
  padding:  2%; /* Ajoute un espacement interne pour rendre le texte plus lisible */
  width: 95%; /* Largeur ajustée pour s'insérer correctement sous le champ */
  text-align: left; /* Texte aligné à gauche */
  margin-top: 2%; /* Espace au-dessus pour ne pas chevaucher le champ */
  position: relative; /* Position relative pour s'adapter dynamiquement à son parent */
  border-radius: 4px; /* Coins arrondis pour un design moderne */
}


/*.honeypot-field {
  display: block !important;
  visibility: visible;
  opacity: 1;
  color: red;  
  border: 1px solid red;
}*/
.honeypot-field {
  position: absolute;
  left: -9999px; 
  visibility: hidden;
  opacity: 0;
  height: 0;
  width: 0;
  overflow: hidden;
}*




.modal.spam-modal {
  display: none; /* Masquée par défaut */
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 500px;
  background-color: #fff;
  border: 2px solid red;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal.spam-modal .modal-header {
  background-color: #ff4d4d; /* Rouge pour indiquer l'alerte */
  color: #fff;
  padding: 15px;
  border-radius: 8px 8px 0 0;
  text-align: center;
}

.modal.spam-modal .modal-body {
  padding: 20px;
  color: #333;
  font-size: 1rem;
  line-height: 1.5;
}

.modal.spam-modal .modal-footer {
  text-align: center;
  padding: 10px 20px;
}

.modal.spam-modal .btn-close-errormodal {
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.modal.spam-modal .btn-close-errormodal:hover {
  background-color: #cc0000;
}

/* -------------------------------------------------------------------------- */
/*                          Modale de confirmation                         */
/* -------------------------------------------------------------------------- */

#confirmation-modal {
  height:90%;
  justify-content: center;
  margin:0 auto;
}

.confirmation-title {
  font-size: 1.5rem;
  margin:2% auto;
}

.confirma-btn{
  display:flex;
  justify-content: center;
}

/* -------------------------------------------------------------------------- */
/*                          Modale de sécurité spam                        */
/* -------------------------------------------------------------------------- */