/* =============================================================================
    Projet      :   Fisheye
    Fichier     :   photographer-bandeau.scss
    Auteur      :   Trackozor
    Date        :   08/01/2025
    Version     :   1.0.0
    Description :   Styles pour la bandeau d'information du photographe,
                    avec des ajustements responsive pour tablettes et ordinateurs.
============================================================================= */

/* -------------------------------------------------------------------------- */
/* Bandeau d'information du photographe                                      */
/* Objectif : Fournir un affichage structuré et responsive pour les détails  */
/* du photographe, incluant nom, localisation, portrait et statistiques.     */
/* -------------------------------------------------------------------------- */

.photographer-info {
    display: flex; /* Utilisation de Flexbox pour gérer l'agencement des éléments */
    flex-direction: column; /* Alignement vertical par défaut */
    align-items: center; /* Centre les éléments horizontalement */
    background: #fafafa; /* Fond gris clair pour un contraste visuel doux */
    justify-content: space-around; /* Répartition équilibrée des éléments */
    margin-bottom: 2%; /* Espacement inférieur pour séparer des autres sections */
    padding: 2% 0; /* Ajout de marge intérieure pour éviter un aspect serré */

    @include tablet {
        flex-direction: row; /* Alignement horizontal pour une meilleure lisibilité */
        width: 100%; /* Utilisation complète de la largeur */
        padding: 0; /* Suppression de l’espace intérieur pour un design plus compact */
        justify-content: space-around; /* Maintien d’un espacement équilibré */
        align-items: center; /* Alignement vertical centré */
        margin-bottom: 1%; /* Réduction de l’espace inférieur */
    }

    @include desktop {
        width: 85%; /* Réduction de la largeur pour un alignement plus harmonieux */
        margin: 0 auto; /* Centrage horizontal automatique */
        align-items: center;
        padding: 0;
    }
}

/* -------------------------------------------------------------------------- */
/* Profil du photographe                                                      */
/* Objectif : Présenter les informations textuelles du photographe, y compris */
/*            le nom, la localisation et la tagline.                          */
/* -------------------------------------------------------------------------- */

.photographer-profile {
    width: 100%; /* Utilisation de toute la largeur disponible */
    margin: 0 auto; /* Centrage horizontal */
    text-align: center; /* Centrage du texte pour les petits écrans */

    @include tablet {
        width: 60%; /* Réduction de la largeur pour un meilleur agencement */
        text-align: left; /* Alignement du texte à gauche pour une lecture optimisée */
    }

    @include desktop {
        width: 90%; /* Ajustement de la largeur pour les grands écrans */
        text-align: left;
        margin: 0;
    }
}

/* -------------------------------------------------------------------------- */
/* Portrait du photographe                                                    */
/* Objectif : Afficher la photo du photographe avec un positionnement adapté  */
/* aux différentes tailles d’écrans.                                          */
/* -------------------------------------------------------------------------- */

.photographer-info .photographer-card-portrait {
    margin-top: 45%; /* Grand espacement supérieur pour les petits écrans */

    @include tablet {
        margin-top: 2%; /* Réduction de l’espacement pour un rendu plus équilibré */
        margin-right: 10%; /* Ajout d’un espace à droite pour l’aération du design */
    }

    @include desktop {
        display: flex;
        position: relative;
        margin-right: 0; /* Réduction de l’espace à droite sur grands écrans */
        top: 5%; /* Ajustement fin de la position verticale */
        width: 15%; /* Définition de la largeur */
        height: 15%; /* Hauteur ajustée */
        max-height: 13vh; /* Hauteur maximale définie en fonction de la hauteur d’écran */
        padding: 0;
        margin-top: 7%;
    }

    @include large-desktop {
        height:25%;
        max-height:20vh;

    }
}

/* -------------------------------------------------------------------------- */
/* Titre du photographe                                                       */
/* Objectif : Mettre en avant le nom du photographe avec une taille adaptée   */
/* selon la taille de l'écran.                                                */
/* -------------------------------------------------------------------------- */

.photographer-profile h2 {
    color: #d3573c; /* Couleur orange pour une meilleure mise en valeur */
    font-size: 1.8rem; /* Taille adaptée aux petits écrans */
    margin-bottom: 1%; /* Ajout d’un léger espace sous le titre */

    @include tablet {
        font-size: 2.4rem; /* Augmentation de la taille du texte pour tablettes */
    }

    @include desktop {
        margin-right: 10%;
        font-size: 2.6rem; /* Taille agrandie pour une meilleure lisibilité */
        margin-bottom: 2%;
        position: relative;
        right: 8%;
    }
}

/* -------------------------------------------------------------------------- */
/* Texte complémentaire du profil                                             */
/* Objectif : Ajustement du positionnement des informations supplémentaires.  */
/* -------------------------------------------------------------------------- */

.photographer-profile p {
    position: relative;
    right: 7.5%;
}

.photographer-profile .photographer-card-location {
    font-size: 1.4rem; /* Taille de texte équilibrée */
    margin: 2% 0; /* Espacement pour éviter un effet de bloc serré */
}

.photographer-profile .photographer-card-tagline {
    margin-top: 3%;
    font-weight: 100; /* Texte plus fin pour un rendu élégant */
}

/* -------------------------------------------------------------------------- */
/* Statistiques du photographe                                                */
/* Objectif : Afficher des données clés (nombre de likes, tarif journalier).  */
/*            Les informations sont positionnées différemment selon l’écran.  */
/* -------------------------------------------------------------------------- */

.photographer-stats {
    background-color: #d88876; /* Fond orange clair pour différencier la section */
    padding: 2%; /* Ajout d’une marge intérieure pour un design aéré */
    color: black; /* Texte en noir pour un contraste lisible */
    margin-bottom: 2%; /* Espacement sous la section */
    font-weight: 600; /* Texte en gras pour mettre en évidence */

    @include tablet {
        display: flex;
        flex-direction: row; /* Organisation horizontale sur les tablettes */
        gap: 2%; /* Ajout d’un espacement entre les éléments */
        padding: 2%;
        position: absolute;
        top: 33%; /* Ajustement de la position pour un alignement optimal */
        right: 4%;
    }

    @include desktop {
        position: fixed; /* Fixation de la section pour qu’elle reste visible */
        z-index: 99999; /* Priorité d’affichage sur d’autres éléments */
        top: 94%; /* Positionnement en bas de l’écran */
        right: 2%;
        padding: 1.5% 2.5%;
        width: 18%;
        font-weight: 500;
    }

    @include large-desktop {
        top: 90%; /* Ajustement pour les très grands écrans */
    }
}

/* -------------------------------------------------------------------------- */
/* Icônes des statistiques                                                    */
/* Objectif : Améliorer la mise en forme des icônes intégrées aux stats.      */
/* -------------------------------------------------------------------------- */

.photographer-stats i:before {
    color: black; /* Icônes en noir pour la lisibilité */
    margin: 0 5%; /* Espacement autour des icônes */
}

/* -------------------------------------------------------------------------- */
/* Tarif journalier                                                           */
/* Objectif : Affichage du tarif journalier du photographe avec un bon        */
/*            alignement et une taille adaptée.                               */
/* -------------------------------------------------------------------------- */

#daily-rate {
    font-size: 1rem; /* Taille de texte modérée */
    margin-left: 30%; /* Décalage pour un meilleur alignement */
}
