/* =============================================================================
    Projet      :   Fisheye
    Fichier     :   photographer-bandeau.scss
    Auteur      :   Trackozor
    Date        :   08/01/2025
    Version     :   1.0.0
    Description :   Styles pour la bandeau d'information du photographe,
                    incluant des ajustements responsives pour tablettes 
                    et ordinateurs de bureau.
============================================================================= */

/* -------------------------------------------------------------------------- */
/* Section des informations du photographe                                    */
/* Description : Structure et styles pour afficher les informations           */
/* principales du photographe dans un bandeau.                                */
/* -------------------------------------------------------------------------- */

.photographer-info {
  display: flex; /* Active le modèle Flexbox pour l'agencement des éléments */
  flex-direction: column; /* Par défaut, les éléments sont empilés verticalement */
  align-items: center; /* Centre les éléments horizontalement */
  background: #fafafa; /* Couleur de fond gris clair pour un contraste doux */
  justify-content: space-around; /* Espace égal entre les éléments */
  margin-bottom: 2%; /* Espace en bas pour séparer des autres sections */
  padding: 2% 0; /* Espace intérieur pour un design respirant */

  @include tablet {
    display: flex; /* Flexbox reste actif pour les écrans tablettes */
    flex-direction: row; /* Les éléments sont alignés horizontalement */
    width: 100%; /* La largeur s'étend à 100% */
    padding: 0; /* Réduit le padding pour un design compact */
    justify-content: space-around; /* Garde l'espacement entre les éléments */
    align-items: center; /* Centre les éléments verticalement */
    margin-bottom: 1%;
  }

  @include desktop {
    padding: 0; /* Réduit le padding pour un design compact */
    width: 85%;
    margin: 0 auto;
    align-items: center;
    padding:0;
  }
}

.photographer-profile.photographer-profile {
  width: 100%; /* La largeur occupe tout l'espace disponible */
  margin: 0 auto; /* Centre horizontalement le contenu */
  text-align: center; /* Texte centré pour les petits écrans */

  @include tablet {
    width: 60%; /* Réduit la largeur pour mieux s'adapter */
    text-align: left; /* Texte aligné à gauche pour une meilleure lecture */
  }
  @include desktop {
    width: 90%;
    text-align: left;
    margin: 0; /* Largeur plus grande pour les écrans plus grands */

  }
}
.photographer-info .photographer-card-portrait {
  margin-top: 45%; /* Espacement supérieur important pour les petits écrans */

  @include tablet {
    margin-top: 2%; /* Réduit l'espacement pour les écrans tablettes */
    margin-right: 10%; /* Ajoute un espace à droite pour mieux structurer */
  }
  @include desktop {
    display: flex;
    position: relative;
    margin-right: 0; /* Réduit l'espace à droite pour les écrans plus grands */
    top: 5%;
    width: 15%;
    height:15%;
    max-height:15vh;
    padding: 0;
    margin-top: 7%;
  }
}

.photographer-profile h2 {
  color: #d3573c; /* Couleur de texte pour une meilleure mise en valeur */
  font-size: 1.8rem; /* Taille par défaut pour les petits écrans */
  margin-bottom: 1%; /* Espace sous le titre pour séparer des autres éléments */

  @include tablet {
    font-size: 2.4rem; /* Augmente la taille du texte pour les écrans plus grands */
  }
  @include desktop {
    margin-right:10%;
    font-size: 2.6rem; /* Augmente la taille du texte pour les écrans plus grands */
    margin-bottom:2%;
    position: relative;
    right:8%;
  }
}
.photographer-profile p{
  position: relative;
  right:8%;
}
.photographer-profile .photographer-card-location {
  font-size:1.4rem;
  margin:2% 0;
}
.photographer-profile .photographer-card-tagline {
  margin-top:4%;
  font-weight: 300;
}
.photographer-stats {
  background-color: #d88876;
  padding: 2%;
  color: black;
  margin-bottom: 2%;
  font-weight: 600;

  @include tablet {
    display: flex;
    flex-direction: row;
    gap: 2%;
    padding: 2% ;
    position: absolute;
    top: 33%;
    right: 4%;
    
  }
  @include desktop {
    position: fixed;
    z-index: 99999;
    top: 95%;
    right: 2%;
    padding: 1% 2.5%;
    width: 18%;
    font-weight:500;
  }
  @include large-desktop {
    top: 90%;
  }
}

.photographer-stats i:before {
  color: black;
  margin:0 5%;
  
}
#daily-rate {
  font-size: 1rem;
  margin-left: 30%;
}
