/* =============================================================================
    Projet      :   Fisheye
    Fichier     :   _index.scss
    Auteur      :   Trackozor
    Date        :   01/01/2025
    Version     :   1.0.0
    Description :   Styles spécifiques à la page d'accueil du projet Fisheye.
                    layouts et sections nécessaires pour construire cette page.
============================================================================= */

// ============================================================================
//  1.Layout    Définition de la structure générale utilisée sur la page d'accueil.
// ============================================================================
@use '../layouts/header';              // Styles pour l'en-tête du site.
@use '../layouts/footer';              // Styles pour le pied de page.
@use '../layouts/photographersection'; // Section spécifique aux photographes.
