/* =============================================================================
    Projet      :   Fisheye
    Fichier     :   photographer.scss
    Auteur      :   Trackozor
    Date        :   01/01/2025
    Version     :   1.0.0
    Description :   Styles spécifiques à la page des photographes. Ce fichier
                    inclut les styles nécessaires pour les composants, layouts
                    et sections utilisées dans cette page, ainsi que des
                    styles propres à la page.
============================================================================= */

// ============================================================================
// 1. Variables et Mixins
//    Importation des variables globales et des mixins pour utiliser des styles
//    réutilisables et cohérents.
// ============================================================================
@use '../base/variables'; // Variables globales (couleurs, typographie, etc.).
@use '../base/mixins';    // Mixins pour des styles modulaires et flexibles.

// ============================================================================
// 2. Réinitialisation et Styles Globaux
//    Réinitialisation des styles des navigateurs et application de styles globaux.
// ============================================================================
@use '../base/reset';  // Normalisation des styles CSS.
@use '../base/global'; // Styles globaux (si nécessaire pour la page).

// ============================================================================
// 3. Composants
//    Importation des composants réutilisables spécifiques à la page.
// ============================================================================
@use '../components/button'; // Boutons (si utilisés dans la page).
@use '../components/cards';  // Cartes (si utilisées pour les photographes).

// ============================================================================
// 4. Layouts
//    Mise en page générale utilisée dans la page des photographes.
// ============================================================================
@use '../layouts/header'; // Header (si utilisé dans cette page).
@use '../layouts/footer'; // Footer (si utilisé dans cette page).
@use '../layouts/modal';  // Modals (fenêtres modales) pour des interactions spécifiques
@use '../layouts/photographer-info';



