/* =============================================================================
    Projet      :   Fisheye
    Fichier     :   photographer.scss
    Auteur      :   Trackozor
    Date        :   01/01/2025
    Version     :   1.0.0
    Description :   Styles spécifiques à la page des photographes. Ce fichier
                    inclut les styles nécessaires pour les composants, layouts
                    et sections utilisées dans cette page, ainsi que des
                    styles propres à la page.
============================================================================= */

// ============================================================================
// 1. Variables et Mixins
//    Importation des variables globales et des mixins pour utiliser des styles
//    réutilisables et cohérents.
// ============================================================================
@import "../base/variables"; // Variables globales (couleurs, typographie, etc.).
@import "../base/mixins"; // Mixins pour des styles modulaires et flexibles.

// ============================================================================
// 2. Réinitialisation et Styles Globaux
//    Réinitialisation des styles des navigateurs et application de styles globaux.
// ============================================================================
@import "../base/reset"; // Normalisation des styles CSS.
@import "../base/global"; // Styles globaux (si nécessaire pour la page).

// ============================================================================
// 3. Composants
//    Importation des composants réutilisables spécifiques à la page.
// ============================================================================
@import "../components/button"; // Boutons (si utilisés dans la page).
@import "../components/cards"; // Cartes (si utilisées pour les photographes).

// ============================================================================
// 4. Layouts
//    Mise en page générale utilisée dans la page des photographes.
// ============================================================================
@import "../layouts/header"; // Header (si utilisé dans cette page).
@import "../layouts/footer"; // Footer (si utilisé dans cette page).
@import "../layouts/photographer/photographer-bandeau";
@import "../layouts/photographer/gallery"; // Section spécifique aux photographes.
@import "../layouts/photographer/lightbox"; // Lightbox
@import "../layouts/photographer/modal"; // Modals (fenêtres modales) pour des interactions spécifiques