/* =============================================================================
    Projet      :   Fisheye
    Fichier     :   _button.scss
    Auteur      :   Trackozor
    Date        :   01/01/2025
    Version     :   1.0.0
    Description :   Contient les styles réutilisables pour les boutons
============================================================================= */

/* -------------------------------------------------------------------------- */
/* Bouton de contact                                                          */
/* Description : Style pour le bouton de contact avec un design simple et     */
/* élégant. Inclut des ajustements responsive pour les tablettes.             */
/* -------------------------------------------------------------------------- */

.contact-button {
  font-size: 1rem; /* Taille de la police pour le texte du bouton */
  z-index: 550;
  font-weight: bold; /* Texte en gras pour plus de visibilité */
  color: white; /* Couleur du texte */
  padding: 3%; /* Espacement interne pour rendre le bouton plus grand */
  max-width: 150px; /* Limite la largeur maximale du bouton */
  max-height: 70px; /* Limite la hauteur maximale du bouton */
  border: none; /* Supprime les bordures */
  background-color: #901c1c; /* Couleur de fond rouge foncé */
  border-radius: 0.3rem; /* Coins légèrement arrondis */
  margin-bottom: 12%; /* Ajoute un espace vertical autour du bouton */
  cursor: pointer; /* Change le curseur pour indiquer un élément cliquable */

  @include tablet {
    max-height: 20px; /* Réduit la hauteur maximale sur tablette */
    padding: 2% 1%; /* Diminue les espacements internes */
    margin-left: 7%;
    display: flex;
    margin-bottom: 0;
    align-items: center;

    @include desktop {
      position: absolute;
      display: flex;
      padding: 2% 1%;
      margin-bottom: 0;
      font-size: 0.9rem;
      align-items: center;
      justify-content: center;
    }

    @include large-desktop {
      padding: 1.5% 1%;
    }
  }
}

/* -------------------------------------------------------------------------- */
/* Icônes SVG                                                                 */
/* Description : Style générique pour les icônes SVG avec des transitions     */
/* pour un changement de couleur fluide au survol.                            */
/* -------------------------------------------------------------------------- */

.icon {
  width: 24px; /* Largeur fixe pour toutes les icônes */
  height: 24px; /* Hauteur fixe pour toutes les icônes */
  fill: #fff; /* Couleur de l'icône par défaut (blanc) */
  transition: fill 0.3s ease; /* Ajoute une transition pour le changement de couleur au survol */
}


/* -------------------------------------------------------------------------- */
/* Boutons de navigation et de fermeture                                      */
/* Description : Supprime les styles par défaut et centre les icônes.         */
/* Appliqué aux boutons suivants : lightbox-prev, lightbox-close,             */
/* lightbox-next, modal-close.                                                */
/* -------------------------------------------------------------------------- */

.lightbox-prev,
.lightbox-close,
.lightbox-next,
.modal-close {
  background: none; /* Supprime tout arrière-plan pour un design minimal */
  border: none; /* Supprime les bordures par défaut */
  padding: 0; /* Supprime les espacements internes */
  margin: 0; /* Supprime les marges externes */
  box-shadow: none; /* Supprime les ombres éventuelles */
  cursor: pointer; /* Change le curseur pour indiquer un élément cliquable */
  display: flex; /* Utilise Flexbox pour organiser le contenu */
  /* Centre les icônes verticalement */
  justify-content: center; /* Centre les icônes horizontalement */
  width: auto; /* Ajuste automatiquement la largeur au contenu */
  height: auto; /* Ajuste automatiquement la hauteur au contenu */
}
.fa-heart::before {
  color: #901c1c;
}

.sorting {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 5%;

  @include tablet {
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 10%;
    margin: 2% 0 3% 10%;
  }
}

/* -------------------------------------------------------------------------- */
/*                   Combo box pour choix du trie                             */
/* -------------------------------------------------------------------------- */
.sorting label {
  font-size: 1rem;
  font-weight: bold;
}
#sort-options {
  display: flex;
  z-index: 20;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: #901c1c;
  align-items: center;
  margin: 2%;
  padding:0.5% 1%;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

#sort-options:focus {
  transform-origin: top; /* Définit le point de pivot pour l'animation */
  z-index:999;
}
