/* =============================================================================
    Projet      :    Fisheye
    Fichier     :   _card.scss
    Auteur      :   Trackozor
    Date        :   01/01/2025
    Version     :    1.0.0
    Description :    Styles pour la carte des photographes (photographer-card).
                    Inclut les styles de base et des media queries pour
                    l'adaptation aux différents écrans.
============================================================================= */


/* -------------------------------------------------------------------------- */
/* Carte du photographe (Mobile First)                                        */
/* -------------------------------------------------------------------------- */

.photographer-card {
    position: relative; /* Position relative pour permettre des ajustements internes */
    display: flex; /* Utilise Flexbox pour organiser les éléments */
    flex-direction: column; /* Aligne les éléments en colonne */
    align-items: center; /* Centre les éléments horizontalement */
    text-align: center; /* Centre le texte */
    background-color: var(--neutral-color); /* Couleur de fond neutre */
    padding: 5%; /* Espacement interne */
    max-width: 100%; /* Largeur maximale pour s'adapter aux écrans */
    margin: 5% auto; /* Centre la carte avec des marges verticales */
    transition: transform 0.3s ease; /* Transition fluide sur hover */
    cursor: pointer; /* Affiche un pointeur cliquable */
    text-decoration: none; /* Supprime les décorations de texte */
}

/* -------------------------------------------------------------------------- */
/* Image du photographe                                                      */
/* -------------------------------------------------------------------------- */

.photographer-card-portrait-wrapper {
    position: relative; /* Permet des ajustements par rapport aux éléments environnants */
    margin: 0 auto; /* Centre horizontalement */
    transition: transform 0.3s ease-in-out; /* Ajoute une animation fluide */
    padding-top: 5% 0; /* Espacement en haut */
}

.photographer-card-portrait {
    width: 100px; /* Largeur de l'image fixe */
    height: 100px; /* Hauteur de l'image fixe */
    border-radius: 50%; /* Forme circulaire */
    object-fit: cover; /* Remplit l'image sans distorsion */
    margin-bottom: 10%; /* Espace en dessous de l'image */
    transform: scale(1.2); /* Ajoute un zoom initial */
    transition: transform 0.3s ease; /* Transition fluide sur hover */
    cursor: pointer; /* Pointeur cliquable */
}

.photographer-card-portrait img {
    transform: scale(5); /* Zoom initial pour l'image */
    margin-top: 10%; /* Espacement en haut */
    transition: transform 0.3s ease; /* Transition fluide */
    text-decoration: none; /* Pas de décoration de texte */
}

.photographer-card:hover {
    transform: scale(1.2); /* Agrandit la carte de 20 % au survol */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Ajoute une ombre subtile */
    text-decoration: none; /* Pas de décoration de texte */
}

/* -------------------------------------------------------------------------- */
/* Nom du photographe                                                        */
/* -------------------------------------------------------------------------- */

.photographer-card-name {
    font-size: var(--font-size-large); /* Taille de texte pour mobile */
    color: var(--text-color-name); /* Applique la couleur secondaire */
    font-weight: bold; /* Texte en gras */
    margin-bottom: 8px; /* Espace en dessous du nom */
    margin-bottom: 8px; /* Espace en dessous du nom */
}

/* -------------------------------------------------------------------------- */
/* Localisation du photographe                                               */
/* -------------------------------------------------------------------------- */

.photographer-card-location {
    font-size: var(--font-size-small); /* Taille légèrement plus petite */
    color: var(--text-color-secondary); /* Couleur neutre secondaire */
    margin-bottom: 6px; /* Espace en dessous */
}

/* -------------------------------------------------------------------------- */
/* Slogan du photographe                                                     */
/* -------------------------------------------------------------------------- */

.photographer-card-tagline {
    font-size: var(--font-size-small); /* Taille discrète pour le slogan */
    font-weight: 500;
    color: var( --text-color-primary); /* Couleur neutre secondaire */
    margin-bottom: 10px; /* Espace en dessous */
}

/* -------------------------------------------------------------------------- */
/* Prix par jour du photographe                                              */
/* -------------------------------------------------------------------------- */

.photographer-card-price {
    font-size: var(--font-size-small); /* Taille mise en avant */
    font-weight: 500; /* Texte en gras */
    color: var(--text-color-tertiary); /* Couleur principale pour le prix */
}

/* -------------------------------------------------------------------------- */
/* MEDIA QUERIES : Styles responsives                                        */
/* -------------------------------------------------------------------------- */

/* --- Tablettes (min-width : 768px) --- */
@media screen and (min-width: 768px) {
    #photographers-container {
        display: grid; /* Active le mode Grid */
        grid-template-columns: repeat(2, 1fr); /* 2 colonnes */
        grid-template-rows: repeat(2, 1fr); /* 2 lignes */
        gap: 20px; /* Espace entre les cartes */
        margin-top: 20px; /* Espacement supérieur */
    }
}


/* --- Ordinateurs (min-width : 1024px) --- */
@media screen and (min-width: 1024px) {
    #photographers-container {
        display: grid; /* Active le mode Grid */
        grid-template-columns: repeat(3, 1fr); /* 3 colonnes */
        margin: 1% 0; /* Espacement vertical */
    }

    .photographer-card-portrait {
        width: 8vw; /* Largeur basée sur la fenêtre */
        height: 8vw; /* Hauteur basée sur la fenêtre */
        border-radius: 50%; /* Forme circulaire */
        object-fit: cover; /* Remplit le cercle sans distorsion */
        transform: scale(1.2); /* Zoom initial */
        margin-top: 5%; /* Espacement supérieur */
        transition: transform 0.3s ease; /* Transition fluide */
        cursor: pointer; /* Pointeur cliquable */
    }

    .photographer-card {
        display: flex; /* Active Flexbox */
        padding: 2% 0; /* Réduit l'espacement interne */
        width: 80%; /* Largeur relative */
        padding-top: 2%; /* Espacement supérieur */
    }
}

/* --- Grands écrans (min-width : 1440px) --- */
@media screen and (min-width: 1440px) {
    #photographers-container {
        display: grid; /* Active le mode Grid */
        grid-template-columns: repeat(3, 1fr); /* 3 colonnes */
        margin: 0; /* Supprime les marges */
        padding: 0; /* Supprime les espacements */
    }

    .photographer-card-portrait {
        width: 6vw; /* Largeur basée sur la fenêtre */
        height: 6vw; /* Hauteur basée sur la fenêtre */
        border-radius: 50%; /* Forme circulaire */
        object-fit: cover; /* Remplit le cercle sans distorsion */
        margin: 10% 0; /* Espacement supérieur et inférieur */
        transform: scale(1.2); /* Zoom initial */
        transition: transform 0.3s ease; /* Transition fluide */
        cursor: pointer; /* Pointeur cliquable */
    }

    .photographer-card {
        border-radius: 1rem; /* Ajoute des coins arrondis */
        margin-bottom: 1%; /* Réduit l'espace en dessous */
        padding: 0; /* Supprime les espacements */
    }
}
