/* =============================================================================
    Projet      :    Fisheye
    Fichier     :   _card.scss
    Auteur      :   Trackozor
    Date        :   01/01/2025
    Version     :    1.0.0
    Description :    Styles pour la carte des photographes (photographer-card).
                    Inclut les styles de base et des media queries pour
                    l'adaptation aux différents écrans.
============================================================================= */


/* -------------------------------------------------------------------------- */
/* Carte du photographe (Mobile First)                                        */
/* -------------------------------------------------------------------------- */

.photographer-card {
    position: relative; /* Position relative pour permettre des ajustements internes */
    display: flex; /* Utilise Flexbox pour organiser les éléments */
    flex-direction: column; /* Aligne les éléments en colonne */
    align-items: center; /* Centre les éléments horizontalement */
    text-align: center; /* Centre le texte */
    background-color: var(--neutral-color); /* Couleur de fond neutre */
    max-width: 100%; /* Largeur maximale pour s'adapter aux écrans */
    margin: 6% auto; /* Centre la carte avec des marges verticales */
    transition: transform 0.3s ease; /* Transition fluide sur hover */
    cursor: pointer; /* Affiche un pointeur cliquable */
    text-decoration: none; /* Supprime les décorations de texte */
}

/*------------------------------------------------------------------------------*/
/*  hover sur carte  */

.photographer-card:hover {
    transform: scale(1.2); /* Agrandit la carte de 20 % au survol */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Ajoute une ombre subtile */
    text-decoration: none; /* Pas de décoration de texte */
}

/* -------------------------------------------------------------------------- */
/* Image du photographe                                                      */
/* -------------------------------------------------------------------------- */

.photographer-card-portrait {
    width: 10vh; /* Largeur de l'image fixe */
    height: 10vh; /* Hauteur de l'image fixe */
    border-radius: 50%; /* Forme circulaire */
    object-fit: cover; /* Remplit l'image sans distorsion */
    object-position: center;
    transform: scale(1.2);
    margin: 1% 0 5% 0; /* Espace en dessous de l'image */
    transition: transform 0.3s ease; /* Transition fluide sur hover */
    cursor: pointer; /* Pointeur cliquable */   
}

/* -------------------------------------------------------------------------- */
/* Nom du photographe                                                        */
/* -------------------------------------------------------------------------- */

.photographer-card-name {
    font-size: var(--font-size-large); /* Taille de texte pour mobile */
    color: var(--text-color-name); /* Applique la couleur secondaire */
    font-weight: bold; /* Texte en gras */
    margin-bottom: 2%;
}

/* -------------------------------------------------------------------------- */
/* Localisation du photographe                                               */
/* -------------------------------------------------------------------------- */

.photographer-card-location {
    font-size: var(--font-size-small); /* Taille légèrement plus petite */
    color: var(--text-color-secondary); /* Couleur neutre secondaire */
    margin-bottom: 6px; /* Espace en dessous */
}

/* -------------------------------------------------------------------------- */
/* Slogan du photographe                                                     */
/* -------------------------------------------------------------------------- */

.photographer-card-tagline {
    font-size: var(--font-size-small); /* Taille discrète pour le slogan */
    font-weight: 500;
    color: var( --text-color-primary); /* Couleur neutre secondaire */
    margin-bottom: 10px; /* Espace en dessous */
}

/* -------------------------------------------------------------------------- */
/* Prix par jour du photographe                                              */
/* -------------------------------------------------------------------------- */

.photographer-card-price {
    font-size: var(--font-size-small); /* Taille mise en avant */
    font-weight: 500; /* Texte en gras */
    color: var(--text-color-tertiary); /* Couleur principale pour le prix */
}

/* -------------------------------------------------------------------------- */
/* MEDIA QUERIES : Styles responsives                                        */
/* -------------------------------------------------------------------------- */

/* --- Ordinateurs (min-width : 1024px) --- */
@media screen and (min-width: 1024px) {

    .photographer-card-portrait {
        width: 8vw; /* Largeur basée sur la fenêtre */
        height: 8vw; /* Hauteur basée sur la fenêtre */
        transform: scale(1.2); /* Zoom initial */
        margin-top: 5%; /* Espacement supérieur */
        transition: transform 0.3s ease; /* Transition fluide */
        cursor: pointer; /* Pointeur cliquable */
    }

    .photographer-card {
        display: flex; /* Active Flexbox */
        padding: 3% 0 2% 0; /* Réduit l'espacement interne */
        width: 80%; /* Largeur relative */
    }
}

/* --- Grands écrans (min-width : 1440px) --- */
@media screen and (min-width: 1440px) {

    .photographer-card-portrait {
        width: 8vw; /* Largeur basée sur la fenêtre */
        height: 8vw; /* Hauteur basée sur la fenêtre */
        border-radius: 50%; /* Forme circulaire */
        object-fit: cover; /* Remplit le cercle sans distorsion */
        margin: 8% 0; /* Espacement supérieur et inférieur */
        transform: scale(1.2); /* Zoom initial */
        transition: transform 0.3s ease; /* Transition fluide */
        cursor: pointer; /* Pointeur cliquable */
    }

    .photographer-card {
        width:50%;
        border-radius: 1rem; /* Ajoute des coins arrondis */
        margin-bottom: 1%; /* Réduit l'espace en dessous */
        padding: 0; /* Supprime les espacements */
    }
    /* -------------------------------------------------------------------------- */
/* Nom du photographe                                                        */
/* -------------------------------------------------------------------------- */

.photographer-card-name {
    font-size: var(--font-size-xlarge); /* Taille de texte pour mobile */
    color: var(--text-color-name); /* Applique la couleur secondaire */
}

/* -------------------------------------------------------------------------- */
/* Localisation du photographe                                               */
/* -------------------------------------------------------------------------- */

.photographer-card-location {
    font-size: var(--font-size-base); /* Taille légèrement plus petite */
}

/* -------------------------------------------------------------------------- */
/* Slogan du photographe                                                     */
/* -------------------------------------------------------------------------- */

.photographer-card-tagline {
    font-size: var(--font-size-base); /* Taille discrète pour le slogan */
}

/* -------------------------------------------------------------------------- */
/* Prix par jour du photographe                                              */
/* -------------------------------------------------------------------------- */

.photographer-card-price {
    font-size: var(--font-size-base); /* Taille mise en avant */
}

}
