/* =============================================================================
    Projet      :    Fisheye
    Fichier     :   _card.scss
    Auteur      :   Trackozor
    Date        :   01/01/2025
    Version     :    1.0.0
    Description :    Styles pour la carte des photographes (photographer-card).
                    Inclut les styles de base et des media queries pour
                    l'adaptation aux différents écrans.
============================================================================= */

/* -------------------------------------------------------------------------- */
/* Carte du photographe (Mobile First)                                        */
/* Description : Style principal pour la carte des photographes               */
/* -------------------------------------------------------------------------- */

.photographer-card {
    position: relative; /* Nécessaire pour placer des éléments enfants en absolu */
    display: flex; /* Utilise Flexbox pour organiser les éléments de la carte */
    flex-direction: column; /* Les éléments sont empilés verticalement */
    align-items: center; /* Centre les éléments horizontalement */
    text-align: center; /* Centre le texte à l'intérieur */
    background-color: var(--neutral-color); /* Fond neutre pour la carte */
    max-width: 100%; /* Adapte la largeur de la carte à celle du conteneur */
    margin: 6% auto; /* Centre la carte avec un espace vertical */
    transition: transform 0.3s ease; /* Ajoute une animation fluide sur hover */
    cursor: pointer; /* Change le curseur au survol */
    text-decoration: none; /* Supprime les décorations de texte */
}

/* -------------------------------------------------------------------------- */
/* Effet hover sur la carte                                                   */
/* Description : Ajoute un effet visuel lorsque la carte est survolée          */
/* -------------------------------------------------------------------------- */

.photographer-card:hover {
    transform: scale(1.2); /* Agrandit légèrement la carte */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Ajoute une ombre subtile */
    text-decoration: none; /* Assure qu'il n'y ait pas de soulignement de texte */
}

/* -------------------------------------------------------------------------- */
/* Image du photographe                                                      */
/* Description : Définit les dimensions et le style de l'image circulaire     */
/* -------------------------------------------------------------------------- */

.photographer-card-portrait {
    width: 10vh; /* Largeur de l'image basée sur la hauteur de la fenêtre */
    height: 10vh; /* Hauteur de l'image */
    border-radius: 50%; /* Rend l'image circulaire */
    object-fit: cover; /* Assure que l'image garde ses proportions */
    object-position: center; /* Centre le contenu de l'image */
    transform: scale(1.2); /* Agrandit légèrement l'image */
    margin: 1% 0 5% 0; /* Ajoute un espacement autour de l'image */
    transition: transform 0.3s ease; /* Ajoute une animation fluide */
    cursor: pointer; /* Change le curseur au survol */
}

/* -------------------------------------------------------------------------- */
/* Nom du photographe                                                        */
/* Description : Style pour le nom du photographe affiché en gras             */
/* -------------------------------------------------------------------------- */

.photographer-card-name {
    font-size: var(--font-size-xlarge); /* Utilise une taille de texte importante */
    color: var(--text-color-name); /* Utilise une couleur d'accentuation */
    font-weight: bold; /* Affiche le texte en gras */
    margin-bottom: 2%; /* Ajoute un espace en dessous du nom */
}

/* -------------------------------------------------------------------------- */
/* Localisation du photographe                                               */
/* Description : Affiche la ville et le pays du photographe                   */
/* -------------------------------------------------------------------------- */

.photographer-card-location {
    font-size: var(--font-size-base); /* Taille de texte standard */
    color: var(--text-color-secondary); /* Couleur secondaire pour moins d'importance */
    margin-bottom: 2%; /* Ajoute un espace en dessous */
}

/* -------------------------------------------------------------------------- */
/* Slogan du photographe                                                     */
/* Description : Style pour le slogan du photographe             */
/* -------------------------------------------------------------------------- */

.photographer-card-tagline {
    font-size: var(--font-size-small); /* Texte légèrement plus petit */
    font-weight: 500; /* Texte avec une importance moyenne */
    color: var(--text-color-primary); /* Couleur principale du texte */
    margin-bottom: 2%; /* Ajoute un espace en dessous */
}

/* -------------------------------------------------------------------------- */
/* Prix par jour du photographe                                              */
/* Description : Affiche le tarif journalier du photographe                   */
/* -------------------------------------------------------------------------- */

.photographer-card-price {
    font-size: var(--font-size-small); /* Texte de taille discrète */
    font-weight: 500; /* Texte légèrement mis en avant */
    color: var(--text-color-tertiary); /* Couleur tertiaire pour moins de priorité */
}

/* ============================================================================*/
/*                          MEDIA QUERIES                                      */
/* Description : Ajustements des styles pour différents écrans                 */
/* =========================================================================== */

/* -------------------------------------------------------------------------- */
/* Tablette (min-width : 768px)                                               */
/* Description : Optimisation des styles pour les tablettes                   */
/* -------------------------------------------------------------------------- */

@media screen and (min-width: 768px)  {

    .photographer-card {
        display: flex; /* Maintient l'utilisation de Flexbox */
        padding: 0; /* Supprime les espacements internes */
        width: 90%; /* Réduit légèrement la largeur pour un alignement centré */
    }

    .photographer-card-portrait {
        width: 12vw; /* Ajuste la largeur de l'image en fonction de la fenêtre */
        height: 12vw; /* Ajuste la hauteur de l'image */
        margin: 1% 0 3% 0; /* Diminue les marges autour de l'image */
    }

    .photographer-card-name {
        font-size: var(--font-size-large); /* Réduit la taille du texte */
    }

    .photographer-card-location,
    .photographer-card-tagline,
    .photographer-card-price {
        font-size: var(--font-size-base); /* Unifie les tailles de texte */
    }
}

/* -------------------------------------------------------------------------- */
/* Desktop (min-width : 1024px)                                               */
/* Description : Ajustements des styles pour les ordinateurs                  */
/* -------------------------------------------------------------------------- */

@media screen and (min-width: 1024px) {

    .photographer-card {
        padding: 0; /* Supprime les espacements */
        width: 90%; /* Maintient une largeur adaptée */
    }

    .photographer-card-portrait {
        width: 10vw; /* Ajuste la taille de l'image */
        height: 10vw; /* Hauteur proportionnelle */
        margin: 5% 0 8% 0; /* Ajuste les espacements verticaux */
    }

    .photographer-card-name {
        font-size: var(--font-size-large); /* Ajuste la taille du texte */
    }

    .photographer-card-location,
    .photographer-card-tagline,
    .photographer-card-price {
        font-size: var(--font-size-base); /* Uniformise les tailles */
    }
}

/* -------------------------------------------------------------------------- */
/* Grands écrans (min-width : 1440px)                                         */
/* Description : Ajustements pour les écrans larges                           */
/* -------------------------------------------------------------------------- */

@media screen and (min-width: 1440px){

    .photographer-card {
        width: 50%; /* Diminue la largeur pour mieux occuper l'espace */
        border-radius: 1rem; /* Ajoute des coins légèrement arrondis */
        margin-bottom: 1%; /* Réduit l'espacement vertical */
        padding: 0; /* Supprime les espacements internes */
    }

    .photographer-card-portrait {
        width: 8vw; /* Réduit la taille de l'image */
        height: 8vw; /* Hauteur proportionnelle */
        margin: 8% 0; /* Augmente l'espacement autour de l'image */
    }

    .photographer-card-name {
        font-size: var(--font-size-xlarge); /* Agrandit le texte pour plus d'impact */
    }

    .photographer-card-location,
    .photographer-card-tagline,
    .photographer-card-price {
        font-size: var(--font-size-base); /* Uniformise les tailles de texte */
    }
}
