/* =============================================================================
    Projet      : Fisheye
    Fichier     : _card.scss
    Auteur      : Trackozor
    Date        : 01/01/2025
    Version     : 1.0.0
    Description : Styles pour la carte des photographes (photographer-card).
                    Inclut les styles de base et des media queries pour
                    l'adaptation aux différents écrans.
============================================================================= */


/* -------------------------------------------------------------------------- */
/* Carte du photographe (Mobile First)                                        */
/* -------------------------------------------------------------------------- */


.photographer-card {
    position: relative;
    display: flex; /* Organise les éléments en colonne */
    flex-direction: column; /* Positionne les éléments verticalement */
    align-items: center; /* Centre les éléments horizontalement */
    text-align: center; /* Centre le texte */
    background-color: var(--neutral-color); /* Couleur de fond neutre */
    padding: 5%; /* Espacement interne */
    max-width: 100%; /* Largeur maximale adaptée pour mobile */
    margin: 5% auto; /* Centre la carte avec un espacement vertical */
    transition: transform 0.3s ease; /* Transition pour toute la carte */
    cursor: pointer; /* Pointeur de curseur pour le click */
    text-decoration: none;
}



/* -------------------------------------------------------------------------- */
/* Image du photographe                                                      */
/* -------------------------------------------------------------------------- */

.photographer-card-portrait-wrapper {
    position: relative;
    margin: 0 auto; /* Centre le conteneur */
    transition: transform 0.3s ease-in-out; /* Transition pour l'image */
    padding-top:5% 0;
}

.photographer-card-portrait {
    width: 100px; /* Largeur fixe pour l'image */
    height: 100px; /* Hauteur fixe */
    border-radius: 50%; /* Rend l'image circulaire */
    object-fit: cover; /* Remplit le cercle sans déformation */
    margin-bottom: 10%; /* Espacement avec les autres éléments */
    transform: scale(1.2); /* Zoom initial */
    transition: transform 0.3s ease; /* Animation fluide sur hover */
    cursor: pointer; /* Pointeur de curseur pour le click */
}

.photographer-card-portrait img {
    transform: scale(5); /* Zoom initial pour la carte */
    margin-top:10%;
    transition: transform 0.3s ease; /* Animation fluide sur hover */
    text-decoration:none;

}

.photographer-card:hover {
    transform: scale(1.2); /* Zoom de 20 % */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Ombre subtile */
    text-decoration:none;
}

/* -------------------------------------------------------------------------- */
/* Nom du photographe                                                        */
/* -------------------------------------------------------------------------- */

.photographer-card-name {
    font-size: var(--font-size-base, 1.6rem); /* Taille de texte adaptée pour mobile */
    color: var(--secondary-color); /* Couleur secondaire */
    font-weight: bold; /* Texte en gras */
    margin-bottom: 8px; /* Espacement inférieur */
    
}

/* -------------------------------------------------------------------------- */
/* Localisation du photographe                                               */
/* -------------------------------------------------------------------------- */

.photographer-card-location {
    font-size: 1.2rem; /* Taille légèrement réduite */
    color: var(--secondary-neutral); /* Couleur neutre secondaire */
    margin-bottom: 6px; /* Espacement inférieur */
}

/* -------------------------------------------------------------------------- */
/* Slogan du photographe                                                     */
/* -------------------------------------------------------------------------- */

.photographer-card-tagline {
    font-size: 1rem; /* Taille plus petite et discrète */
    font-style: italic; /* Texte en italique */
    color: var(--secondary-neutral); /* Couleur neutre secondaire */
    margin-bottom: 10px; /* Espacement inférieur */
}

/* -------------------------------------------------------------------------- */
/* Prix par jour du photographe                                              */
/* -------------------------------------------------------------------------- */

.photographer-card-price {
    font-size: 1.2rem; /* Taille légèrement mise en avant */
    font-weight: bold; /* Texte en gras pour le prix */
    color: var(--primary-color); /* Couleur principale pour le prix */
}

/* -------------------------------------------------------------------------- */
/* MEDIA QUERIES : Styles responsives                                        */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 768px) {
    #photographers-container {
    display: grid; /* Active le mode Grid */
    grid-template-columns: repeat(2, 1fr); /* 3 colonnes de taille égale */
    grid-template-rows: repeat(2,1fr); /* 2 colonnes de taille*/
    gap: 20px; /* Espacement entre les cartes */
    margin-top: 20px; /* Ajoute un espacement interne */
    }
}
@media screen  and (min-width : 1024px) {
    #photographers-container {
        display: grid; /* Active le mode Grid */
        grid-template-columns: repeat(3, 1fr); /* 3 colonnes de taille égale */
        margin:12% 0;
    }

    .photographer-card-portrait {
    width: 15vw; /* Largeur fixe pour l'image */
    height: 15vw; /* Hauteur fixe */
    border-radius: 50%; /* Rend l'image circulaire */
    object-fit: cover; /* Remplit le cercle sans déformation */
    transform: scale(1.2); /* Zoom initial */
    margin-top: 5%;
    transition: transform 0.3s ease; /* Animation fluide sur hover */
    cursor: pointer; /* Pointeur de curseur pour le click */
    }
    .photographer-card {
        display: flex;
        padding:2% 0;   
    }
}
@media screen  and (min-width : 1440px) {
    
    #photographers-container {
        display: grid; /* Active le mode Grid */
        grid-template-columns: repeat(3, 1fr); /* 3 colonnes de taille égale */
        grid-template-rows: repeat(2,1fr); 
        margin: 0;
        padding: 0;

    }

    .photographer-card-portrait {
    width: 6vw; /* Largeur fixe pour l'image */
    height: 6vw; /* Hauteur fixe */
    border-radius: 50%; /* Rend l'image circulaire */
    object-fit: cover; /* Remplit le cercle sans déformation */
    margin-bottom: 3%; /* Espacement avec les autres éléments */
    transform: scale(1.2); /* Zoom initial */
    transition: transform 0.3s ease; /* Animation fluide sur hover */
    cursor: pointer; /* Pointeur de curseur pour le click */
    }
    .photographer-card {
        border-radius: 1rem;
        margin-bottom:1% 0;
        padding:0;
        height:30vh;
    }
}



