/* Loader global */
.loader {
  position: fixed;
  top: 1%;
  left: 2%;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color); /* Overlay sombre */
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
  margin: 0 auto;

  @include tablet {
    width: 70%;
    height: 80%;
    left: 15%;
    top: -2%;
  }

  @include desktop {
    width: 30%;
    left: 20%;
  }
}

.loader-active {
  opacity: 1;
  visibility: visible;
}

/* Conteneur central */
.loader-container {
  text-align: center;
  width: 80%;
  max-width: 400px;
}

/* Titre du loader */
.loader-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #ffffff;
}

/* Spinner central */
.spinner {
  margin: 20px auto;
  width: 50px;
  height: 50px;
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #ffffff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Texte dynamique */
.loader-text {
  font-size: 1rem;
  margin-bottom: 15px;
}

/* Conteneur de la barre de progression */
.progress-container {
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  height: 10px;
  overflow: hidden;
  margin: 10px 0;
}

/* Barre de progression */
.progress-bar {
  height: 100%;
  background: linear-gradient(90deg, #901c1c, #b42a2a);
  width: 0%;
  transition: width 0.4s ease;
}

/* Pourcentage */
.progress-percentage {
  font-size: 0.9rem;
  margin-top: 5px;
}
