:root {
    /* Palette principale */
    --primary-color: #901C1C;       /* Rouge foncé (AAA pour WCAG) */
    --primary-color-light: #D3573C; /* Rouge plus clair */
    --secondary-color: #D3573C;    /* Rouge clair (AA pour WCAG) */
    --neutral-color: #FAFAFA;      /* Blanc cassé pour contraste */

    /* Couleurs complémentaires */
    --accent-color: #FF5722;       /* Orange vif pour accent */
    --secondary-neutral: #525252; /* Gris foncé */

    /* Couleurs de texte */
    --text-color-primary: #FAFAFA; /* Texte principal */
    --text-color-secondary: #901C1C; /* Texte contrastant sur fond clair */
    --text-color-accent: #D3573C;  /* Accentuation pour liens ou boutons */

    /* Couleurs d'état */
    --success-color: #4caf50;      /* Succès */
    --warning-color: #ff9800;     /* Avertissement */
    --error-color: #f44336;       /* Erreur */
    --info-color: #2196f3;        /* Information */

    /* Typographie */
    --font-primary: 'Roboto', sans-serif;
    --font-title: 'Shrikhand', sans-serif;

    /* Tailles des polices */
    --font-size-small: 1.4rem;
    --font-size-base: 1.6rem;
    --font-size-large: 2rem;
    --font-size-xlarge: 2.4rem;

    /* Poids des polices */
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --font-weight-light: 300;

    /* Hauteur de ligne */
    --line-height-tight: 1.2;
    --line-height-normal: 1.4;
    --line-height-base: 1.6;
    --line-height-loose: 1.8;
    --line-height-extra-loose: 2;

    /* Espacements (Padding & Margins) */
    --padding-xsmall: 0.4rem;
    --padding-small: 0.8rem;
    --padding-medium: 1.6rem;
    --padding-large: 2.4rem;
    --padding-xlarge: 3.2rem;

    --margin-xsmall: 0.4rem;
    --margin-small: 0.8rem;
    --margin-medium: 1.6rem;
    --margin-large: 2.4rem;
    --margin-xlarge: 3.2rem;

    /* Gaps */
    --gap-small: 0.8rem;
    --gap-medium: 1.6rem;
    --gap-large: 2.4rem;

    /* Tailles des objets */
    --size-small: 2rem;
    --size-medium: 4rem;
    --size-large: 6rem;

    /* Bordures et ombres */
    --border-radius-small: 4px;
    --border-radius-medium: 8px;
    --border-radius-large: 16px;

    --box-shadow-small: 0 1px 3px rgba(0, 0, 0, 0.1);
    --box-shadow-medium: 0 3px 6px rgba(0, 0, 0, 0.15);
    --box-shadow-large: 0 5px 15px rgba(0, 0, 0, 0.2);

}
