/* =============================================================================
    Projet      : Fisheye
    Fichier     : _footer.scss
    Auteur      : Trackozor
    Date        : 01/01/2025
    Version     : 1.0.0
    Description : Styles pour le footer
============================================================================= */

footer {
    display: flex;
    justify-content: center;
    margin:2% 0 1% 0;
}