/* =============================================================================
    Projet      : Fisheye
    Fichier     : _footer.scss
    Auteur      : Trackozor
    Date        : 01/01/2025
    Version     : 1.0.0
    Description : Styles pour le footer du site, incluant le positionnement,
                  la typographie et les couleurs.                              
============================================================================= */

/* ------------------------------------------------------------------------- */
/*                              FOOTER                                       */
/* ------------------------------------------------------------------------- */
/* Description : Définit le style global du footer.                          */

footer {
  display: flex; /* Utilise Flexbox pour un alignement facile */
  justify-content: center; /* Centre le contenu horizontalement */
  margin: 1% 0; /* Ajoute un espacement vertical autour du footer */
}

/* ------------------------------------------------------------------------- */
/*                          TEXTE DU FOOTER                                  */
/* ------------------------------------------------------------------------- */
/* Description : Définit le style des paragraphes dans le footer.            */

footer p {
  color: var(--text-color-secondary); /* Couleur secondaire pour le texte */
  font-weight: bold; /* Accentue la police avec une graisse plus élevée */
}
