.site-header {
    display: flex;
    justify-content: space-between;
    padding: 12rem;
    background-color: $primary-color;
    border-bottom: 1px solid $neutral-light;

    .logo {
        max-height: 150px;
    }

    .logo-link {
        text-decoration: none;
    }
    h1 {
        font-size: 1.5rem;
        color: $text-color;
        margin: 0;
    }
}
