/* =============================================================================
    Projet      :   Fisheye
    Fichier     :   photographer-section.scss
    Auteur      :   Trackozor
    Date        :   01/01/2025
    Version     :   1.0.0
    Description :   Styles pour la section des photographes, incluant la gestion
                    des conteneurs des cartes et leur adaptation responsive.
============================================================================= */
/* -------------------------------------------------------------------------- */
/* Styles pour les conteneurs des cartes                                      */
/* -------------------------------------------------------------------------- */

/* Conteneur principal des photographes */
#photographers-container {
  display: grid; /* Utilisation de la grille CSS pour organiser les cartes */
  gap: var(
    --spacing-base
  ); /* Espacement entre les éléments, basé sur une variable */
  margin-top: var(--spacing-xxsmall); /* Petit espace au-dessus du conteneur */
  padding: 0 var(--spacing-base); /* Espacement horizontal pour aligner le contenu */

  /* ------------------------- Responsives -------------------------------- */
  /* Styles spécifiques pour les écrans de type tablette */
  @include tablet {
    grid-template-columns: repeat(2, 1fr); /* 2 colonnes pour les tablettes */
  }

  /* Styles spécifiques pour les écrans de type ordinateur */
  @include desktop {
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes pour les ordinateurs */
  }

  /* Styles spécifiques pour les écrans larges (grands ordinateurs) */
  @include large-desktop {
    grid-template-columns: repeat(3, 1fr); /* 4 colonnes pour écrans larges */
  }
}
