.photographer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FAFAFA ;

    @include tablet {
        flex-direction: row;
        justify-content: space-around;
    }

    @include desktop {
        flex-direction: row;
        justify-content: space-around;
    }
}