@charset "UTF-8";
/* =============================================================================
    Projet      :   Fisheye
    Fichier     :   photographer.scss
    Auteur      :   Trackozor
    Date        :   01/01/2025
    Version     :   1.0.0
    Description :   Styles spécifiques à la page des photographes. Ce fichier
                    inclut les styles nécessaires pour les composants, layouts
                    et sections utilisées dans cette page, ainsi que des
                    styles propres à la page.
============================================================================= */
/* =============================================================================
    Projet      :   Fisheye
    Fichier     :   _variables.scss
    Auteur      :   Trackozor
    Date        :   01/01/2025
    Version     :   1.0.0
    Description :   Contient les variables globales utilisées dans le projet.
                    Couvre les couleurs, typographies, tailles et espacements.
============================================================================= */
:root {
  /* ================================ */
  /* Palette principale               */
  /* ================================ */
  --primary-color: #901C1C; /* Rouge foncé pour accentuation  */
  --primary-color-light: #D3573C; /* Rouge plus clair pour les hovers ou fonds */
  --secondary-color: #D3573C; /* Rouge clair pour les éléments secondaires */
  --neutral-color: #FAFAFA; /* Blanc cassé pour les fonds */
  /* ================================ */
  /* Couleurs complémentaires         */
  /* ================================ */
  --accent-color: #FF5722; /* Orange vif pour les appels à l'action */
  --secondary-neutral: #525252; /* Gris foncé pour les textes secondaires */
  /* ================================ */
  /* Couleurs de texte                */
  /* ================================ */
  --text-color-primary:black; /* Couleur principale pour le texte */
  --text-color-secondary: #901C1C;
  --text-color-tertiary: #757575; /* Texte contrastant sur fonds clairs */
  --text-color-name: #D3573C; /* Couleur pour les noms  */
  /* ================================ */
  /* Couleurs d'état                  */
  /* ================================ */
  --success-color: #4caf50; /* Couleur pour indiquer un succès */
  --warning-color: #ff9800; /* Couleur pour indiquer un avertissement */
  --error-color: #f44336; /* Couleur pour signaler une erreur */
  --info-color: #2196f3; /* Couleur pour afficher des informations */
  /* ================================ */
  /* Typographie                      */
  /* ================================ */
  --font-primary: "DM Sans"; /* Police principale */
  /* Tailles des polices */
  --font-size-small: 0.8rem; /* taille de texte 80% de la taille de base */
  --font-size-base: 1rem; /* Taille de texte par défaut */
  --font-size-large: 1.6rem; /* Taille de 60 % plus grand que la base*/
  --font-size-xlarge: 2rem; /* taille doublé par rapport a la base */
  --font-size-giant: 2.4rem; /* Taille  */
  /* Poids des polices */
  --font-weight-regular: 400; /* Poids standard des polices */
  --font-weight-bold: 700; /* Poids pour les polices en gras */
  --font-weight-light: 300; /* Poids pour les polices fines */
  /* Hauteur de ligne */
  --line-height-tight: 1.2; /* Hauteur réduite pour les titres */
  --line-height-normal: 1.4; /* Hauteur standard */
  --line-height-base: 1.6; /* Hauteur pour les paragraphes */
  --line-height-loose: 1.8; /* Hauteur pour les grands blocs */
  --line-height-extra-loose: 2; /* Hauteur extra-large pour aération */
  /* ================================ */
  /* Espacements (Padding & Margins)  */
  /* ================================ */
  --padding-xsmall: 0.4rem; /* Espacement très petit */
  --padding-small: 0.8rem; /* Espacement petit */
  --padding-medium: 1.6rem; /* Espacement moyen */
  --padding-large: 2.4rem; /* Espacement large */
  --padding-xlarge: 3.2rem; /* Espacement très large */
  --margin-xsmall: 0.4rem; /* Marges très petites */
  --margin-small: 0.8rem; /* Marges petites */
  --margin-medium: 1.6rem; /* Marges moyennes */
  --margin-large: 2.4rem; /* Marges larges */
  --margin-xlarge: 3.2rem; /* Marges très larges */
  /* ================================ */
  /* Gaps                             */
  /* ================================ */
  --gap-small: 0.8rem; /* Petites espacements entre éléments */
  --gap-medium: 1.6rem; /* Espacement moyen */
  --gap-large: 2.4rem; /* Espacement large */
  /* ================================ */
  /* Tailles des objets               */
  /* ================================ */
  --size-small: 2rem; /* Objets ou boutons petits */
  --size-medium: 4rem; /* Objets ou boutons moyens */
  --size-large: 6rem; /* Objets ou boutons larges */
  /* ================================ */
  /* Bordures et ombres               */
  /* ================================ */
  --border-radius-small: 4px; /* Bordures légèrement arrondies */
  --border-radius-medium: 8px; /* Bordures moyennement arrondies */
  --border-radius-large: 16px; /* Bordures très arrondies */
  --box-shadow-small: 0 1px 3px rgba(0, 0, 0, 0.1); /* Ombre légère */
  --box-shadow-medium: 0 3px 6px rgba(0, 0, 0, 0.15); /* Ombre moyenne */
  --box-shadow-large: 0 5px 15px rgba(0, 0, 0, 0.2); /* Ombre prononcée */
}

/* =============================================================================
    Projet      :   Fisheye
    Fichier     :   _mixins.scss
    Auteur      :   Trackozor
    Date        :   01/01/2025
    Version     :   1.0.0
    Description :   Contient des mixins réutilisables, notamment pour la gestion
                    des media queries dans une approche Mobile First.
============================================================================= */
/* =============================================================================
    Projet      : Fisheye
    Fichier     : _reset.scss
    Auteur      : Trackozor
    Date        : 01/01/2025
    Version     : 1.0.0
    Description : Fichier de reset CSS pour normaliser les styles par défaut
                  des navigateurs. Prépare une base cohérente pour les styles
                  personnalisés du projet.
============================================================================= */
/* ================================ */
/* Général                          */
/* ================================ */
/* Remet à zéro les marges, paddings, bordures et styles par défaut */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; /* Taille de police par défaut */
  font: inherit; /* Hérite de la famille de police du parent */
  vertical-align: baseline; /* Normalise l'alignement vertical */
  color: black;
}

/* ================================ */
/* HTML5 : Compatibilité des blocs  */
/* ================================ */
/* Assure une prise en charge correcte des éléments HTML5 */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; /* Rend les éléments block-level */
}

/* ================================ */
/* Corps du document                */
/* ================================ */
/* Configuration de base pour le <body> */
body {
  line-height: 1; /* Normalise l'interligne */
  font-family: var(--font-primary, sans-serif); /* Police par défaut */
  background-color: var(--neutral-color); /* Fond par défaut */
  color: var(--text-color-primary); /* Texte par défaut */
}

/* ================================ */
/* Listes                           */
/* ================================ */
/* Supprime les styles par défaut des listes */
ol, ul {
  list-style: none; /* Retire les puces ou numérotations */
}

/* ================================ */
/* Citations                        */
/* ================================ */
/* Supprime les guillemets automatiques des citations */
blockquote, q {
  quotes: none;
}

/* Empêche les pseudo-éléments de guillemets */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

/* ================================ */
/* Tables                           */
/* ================================ */
/* Supprime les espacements entre les cellules des tableaux */
table {
  border-collapse: collapse; /* Fusionne les bordures */
  border-spacing: 0; /* Supprime les espaces entre les cellules */
}

/* ================================ */
/* Médias                           */
/* ================================ */
/* Adapte les images et vidéos au conteneur parent */
img, video {
  max-width: 100%; /* Limite la largeur à celle du conteneur */
  height: auto; /* Conserve les proportions des médias */
}

/* =============================================================================
    Projet      :   Fisheye
    Fichier     :   _utilities.scss
    Auteur      :   Trackozor
    Date        :   01/01/2025
    Version     :   1.0.0
    Description :   Classes utilitaires pour des fonctionnalités spécifiques,
                    notamment pour l'accessibilité et des comportements génériques.
============================================================================= */
/* =========================================================================== */
/*                          Classes pour l'accessibilité                       */
/* =========================================================================== */
/* Masque visuellement un élément tout en le gardant accessible aux lecteurs d'écran */
.sr-only {
  position: absolute; /* Retire l'élément du flux visuel */
  width: 1px; /* Taille réduite à 1 pixel */
  height: 1px; /* Taille réduite à 1 pixel */
  padding: 0; /* Pas de padding */
  margin: -1px; /* Place l'élément hors écran */
  overflow: hidden; /* Masque le contenu débordant */
  clip: rect(0, 0, 0, 0); /* Masque visuellement l'élément */
  border: 0; /* Supprime les bordures */
}

/* Affiche un élément précédemment masqué pour les lecteurs d'écran */
.sr-only-focusable:focus {
  position: static; /* Rétablit la position par défaut */
  width: auto; /* Rétablit la largeur */
  height: auto; /* Rétablit la hauteur */
  padding: var(--padding-small, 0.5rem); /* Ajoute du padding pour plus de clarté */
  margin: 0; /* Supprime les marges négatives */
  overflow: visible; /* Rend le contenu visible */
  clip: auto; /* Rétablit le contenu */
  border: 2px solid var(--primary-color); /* Ajoute une bordure pour la mise en évidence */
}

/* =========================================================================== */
/*                     Classes pour les styles par défaut                      */
/* =========================================================================== */
/* Retire les soulignements des liens */
a {
  text-decoration: none; /* Supprime la décoration par défaut */
  color: inherit; /* Hérite de la couleur du texte parent */
}

/* Ajoute une décoration au survol pour les liens */
a:hover,
a:focus {
  text-decoration: none; /* Ajoute une décoration */
  color: var(--primary-color); /* Applique une couleur d'accentuation */
}

.contact_button {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  padding: 5% 3%;
  max-width: 150px;
  max-height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 0.3rem;
  margin: 5% 0;
  cursor: pointer;
}

/* Icône SVG */
.icon {
  width: 24px;
  background-color: transparent;
  height: 24px;
  fill: #fff; /* Couleur par défaut */
  transition: fill 0.3s ease; /* Animation pour le survol */
}

.lightbox-prev:hover .icon {
  fill: #f00; /* Change la couleur au survol */
}

/* =============================================================================
    Projet      :    Fisheye
    Fichier     :   _card.scss
    Auteur      :   Trackozor
    Date        :   01/01/2025
    Version     :    1.0.0
    Description :    Styles pour la carte des photographes (photographer-card).
                    Inclut les styles de base et des media queries pour
                    l'adaptation aux différents écrans.
============================================================================= */
/* -------------------------------------------------------------------------- */
/* Carte du photographe (Mobile First)                                        */
/* -------------------------------------------------------------------------- */
.photographer-card {
  position: relative; /* Position relative pour permettre des ajustements internes */
  display: flex; /* Utilise Flexbox pour organiser les éléments */
  flex-direction: column; /* Aligne les éléments en colonne */
  align-items: center; /* Centre les éléments horizontalement */
  text-align: center; /* Centre le texte */
  background-color: var(--neutral-color); /* Couleur de fond neutre */
  padding: 5%; /* Espacement interne */
  max-width: 100%; /* Largeur maximale pour s'adapter aux écrans */
  margin: 5% auto; /* Centre la carte avec des marges verticales */
  transition: transform 0.3s ease; /* Transition fluide sur hover */
  cursor: pointer; /* Affiche un pointeur cliquable */
  text-decoration: none; /* Supprime les décorations de texte */
}

/* -------------------------------------------------------------------------- */
/* Image du photographe                                                      */
/* -------------------------------------------------------------------------- */
.photographer-card-portrait-wrapper {
  position: relative; /* Permet des ajustements par rapport aux éléments environnants */
  margin: 0 auto; /* Centre horizontalement */
  transition: transform 0.3s ease-in-out; /* Ajoute une animation fluide */
  padding-top: 5% 0; /* Espacement en haut */
}

.photographer-card-portrait {
  width: 100px; /* Largeur de l'image fixe */
  height: 100px; /* Hauteur de l'image fixe */
  border-radius: 50%; /* Forme circulaire */
  object-fit: cover; /* Remplit l'image sans distorsion */
  margin-bottom: 10%; /* Espace en dessous de l'image */
  transform: scale(1.2); /* Ajoute un zoom initial */
  transition: transform 0.3s ease; /* Transition fluide sur hover */
  cursor: pointer; /* Pointeur cliquable */
}

.photographer-card-portrait img {
  transform: scale(5); /* Zoom initial pour l'image */
  margin-top: 10%; /* Espacement en haut */
  transition: transform 0.3s ease; /* Transition fluide */
  text-decoration: none; /* Pas de décoration de texte */
}

.photographer-card:hover {
  transform: scale(1.2); /* Agrandit la carte de 20 % au survol */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Ajoute une ombre subtile */
  text-decoration: none; /* Pas de décoration de texte */
}

/* -------------------------------------------------------------------------- */
/* Nom du photographe                                                        */
/* -------------------------------------------------------------------------- */
.photographer-card-name {
  font-size: var(--font-size-large); /* Taille de texte pour mobile */
  color: var(--text-color-name); /* Applique la couleur secondaire */
  font-weight: bold; /* Texte en gras */
  margin-bottom: 8px; /* Espace en dessous du nom */
  margin-bottom: 8px; /* Espace en dessous du nom */
}

/* -------------------------------------------------------------------------- */
/* Localisation du photographe                                               */
/* -------------------------------------------------------------------------- */
.photographer-card-location {
  font-size: var(--font-size-small); /* Taille légèrement plus petite */
  color: var(--text-color-secondary); /* Couleur neutre secondaire */
  margin-bottom: 6px; /* Espace en dessous */
}

/* -------------------------------------------------------------------------- */
/* Slogan du photographe                                                     */
/* -------------------------------------------------------------------------- */
.photographer-card-tagline {
  font-size: var(--font-size-small); /* Taille discrète pour le slogan */
  font-weight: 500;
  color: var(--text-color-primary); /* Couleur neutre secondaire */
  margin-bottom: 10px; /* Espace en dessous */
}

/* -------------------------------------------------------------------------- */
/* Prix par jour du photographe                                              */
/* -------------------------------------------------------------------------- */
.photographer-card-price {
  font-size: var(--font-size-small); /* Taille mise en avant */
  font-weight: 500; /* Texte en gras */
  color: var(--text-color-tertiary); /* Couleur principale pour le prix */
}

/* -------------------------------------------------------------------------- */
/* MEDIA QUERIES : Styles responsives                                        */
/* -------------------------------------------------------------------------- */
/* --- Tablettes (min-width : 768px) --- */
@media screen and (min-width: 768px) {
  #photographers-container {
    display: grid; /* Active le mode Grid */
    grid-template-columns: repeat(2, 1fr); /* 2 colonnes */
    grid-template-rows: repeat(2, 1fr); /* 2 lignes */
    gap: 20px; /* Espace entre les cartes */
    margin-top: 20px; /* Espacement supérieur */
  }
}
/* --- Ordinateurs (min-width : 1024px) --- */
@media screen and (min-width: 1024px) {
  #photographers-container {
    display: grid; /* Active le mode Grid */
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes */
    margin: 1% 0; /* Espacement vertical */
  }
  .photographer-card-portrait {
    width: 8vw; /* Largeur basée sur la fenêtre */
    height: 8vw; /* Hauteur basée sur la fenêtre */
    border-radius: 50%; /* Forme circulaire */
    object-fit: cover; /* Remplit le cercle sans distorsion */
    transform: scale(1.2); /* Zoom initial */
    margin-top: 5%; /* Espacement supérieur */
    transition: transform 0.3s ease; /* Transition fluide */
    cursor: pointer; /* Pointeur cliquable */
  }
  .photographer-card {
    display: flex; /* Active Flexbox */
    padding: 2% 0; /* Réduit l'espacement interne */
    width: 80%; /* Largeur relative */
    padding-top: 2%; /* Espacement supérieur */
  }
}
/* --- Grands écrans (min-width : 1440px) --- */
@media screen and (min-width: 1440px) {
  #photographers-container {
    display: grid; /* Active le mode Grid */
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes */
    margin: 0; /* Supprime les marges */
    padding: 0; /* Supprime les espacements */
  }
  .photographer-card-portrait {
    width: 6vw; /* Largeur basée sur la fenêtre */
    height: 6vw; /* Hauteur basée sur la fenêtre */
    border-radius: 50%; /* Forme circulaire */
    object-fit: cover; /* Remplit le cercle sans distorsion */
    margin: 10% 0; /* Espacement supérieur et inférieur */
    transform: scale(1.2); /* Zoom initial */
    transition: transform 0.3s ease; /* Transition fluide */
    cursor: pointer; /* Pointeur cliquable */
  }
  .photographer-card {
    border-radius: 1rem; /* Ajoute des coins arrondis */
    margin-bottom: 1%; /* Réduit l'espace en dessous */
    padding: 0; /* Supprime les espacements */
  }
}
/* =============================================================================
    Projet      :   Fisheye
    Fichier     :   _header.scss
    Auteur      :   Trackozor
    Date        :   01/01/2025
    Version     :   1.0.0
    Description :   Styles pour le header du site, incluant le logo et le titre.
                    Inclut une gestion responsive pour s'adapter à différentes tailles d'écran.
============================================================================= */
/* ------------------------------------------------------------------------- */
/*                        Styles par défaut (Mobile)                         */
/* ------------------------------------------------------------------------- */
header {
  display: flex; /* Utilise Flexbox pour organiser les éléments enfants */
  flex-direction: row; /* Place les éléments enfants en ligne (horizontalement) */
  justify-content: space-between; /* Espace entre le logo et le titre */
  align-items: center; /* Aligne les éléments verticalement au centre */
  width: 95%; /* Largeur relative pour s'adapter à l'écran */
  height: auto; /* Hauteur automatique basée sur le contenu */
  padding: 5% 0 10% 0; /* Espacement en haut et en bas */
  gap: 2%; /* Espace entre les enfants */
  margin: 0 auto; /* Centre horizontalement le header */
}

.logo {
  width: 25vw; /* Largeur du logo basée sur la taille de la fenêtre */
  max-width: 100px; /* Limite la taille maximale du logo sur petits écrans */
  height: auto; /* Maintient les proportions d'origine */
  padding-left: 15%; /* Décalage à gauche pour espacer du bord */
}

h1 {
  font-size: var(--font-size-base); /* Utilise la taille de police définie dans les variables */
  color: var(--primary-color); /* Applique la couleur principale au titre */
  margin: 0; /* Supprime les marges par défaut */
  padding-bottom: 2%; /* Ajoute un espacement en bas */
}

/* ------------------------------------------------------------------------- */
/*                        Media Queries pour les écrans                      */
/* ------------------------------------------------------------------------- */
/* --- Écrans moyens (Tablettes) : Min-width 768px --- */
@media (min-width: 768px) {
  header {
    width: 80%; /* Réduit la largeur pour un meilleur alignement */
    padding: 3% 0 2% 0; /* Diminue l'espacement vertical */
  }
  .logo {
    max-width: 200px; /* Augmente la taille maximale du logo */
    padding-left: 10%; /* Réduit l'espacement gauche */
  }
  h1 {
    font-size: var(--font-size-large); /* Augmente la taille de la police */
    padding-bottom: 0; /* Supprime l'espacement en dessous */
  }
}
/* --- Écrans larges (Ordinateurs) : Min-width 1024px --- */
@media (min-width: 1024px) {
  header {
    width: 85%; /* Augmente la largeur pour un meilleur espacement */
  }
}
/* --- Très grands écrans (Grands ordinateurs ou téléviseurs) : Min-width 1440px --- */
@media (min-width: 1440px) {
  header {
    width: 80%; /* Réduit légèrement la largeur pour plus d'équilibre */
  }
}
/* =============================================================================
    Projet      : Fisheye
    Fichier     : _footer.scss
    Auteur      : Trackozor
    Date        : 01/01/2025
    Version     : 1.0.0
    Description : Styles pour le footer
============================================================================= */
footer {
  display: flex;
  justify-content: center;
}

.modal-container {
  display: none;
  position: absolute;
  z-index: 10;
  top: 5%;
  border-radius: 5px;
  background-color: #DB8876;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: auto;
}

.modal-overlay {
  position: flex; /* Corrigez "display: fixed" en "position: fixed" */
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent pour simuler un overlay */
  z-index: 5;
  width: 100%;
  height: 100%;
}

#contact-modal {
  display: none;
  margin: 0 auto;
}

/*----------------------------------------------------------------*/
@media screen and (min-width: 768px) {
  .modal-container {
    display: flex;
    top: 8%;
    left: 30%;
    align-items: center;
    width: 40%;
    height: 100%;
    margin: auto;
  }
}
.photographer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FAFAFA;
}

/*# sourceMappingURL=photographer.css.map */
