/* =============================================================================
    Projet      : Fisheye
    Fichier     : photographer-section.scss
    Auteur      : Trackozor
    Date        : 01/01/2025
    Version     : 1.0.0
    Description : Styles pour la section des photographes, incluant la gestion
                des conteneurs des cartes et leur adaptation responsive.
============================================================================= */

/* -------------------------------------------------------------------------- */
/* Conteneur principal des photographes                                       */
/* Description : Organisation des cartes des photographes dans une grille.    */
/* Inclut une gestion responsive pour les tablettes et grands écrans.         */
/* -------------------------------------------------------------------------- */

#photographers-container {
  display: grid; /* Mise en page avec une grille CSS */
  max-width: 80%; /* Limite la largeur maximale du conteneur */
  gap: var(--spacing-base); /* Espacement entre les éléments (utilise une variable) */
  margin: 2% auto; /* Centre le conteneur verticalement et horizontalement */
  padding: 0 var(--spacing-base); /* Espacement horizontal pour l'alignement */

  /* ----------------------------------------------------------------------- */
  /* Responsive : Tablettes                                                  */
  /* Description : Adapte la grille pour afficher 2 colonnes sur tablette.   */
  /* ----------------------------------------------------------------------- */
  @include tablet {
    grid-template-columns: repeat(2, 1fr); /* 2 colonnes de tailles égales */
  }

  /* ----------------------------------------------------------------------- */
  /* Responsive : Ordinateurs                                                */
  /* Description : Adapte la grille pour afficher 3 colonnes sur ordinateur. */
  /* ----------------------------------------------------------------------- */
  @include desktop {
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes de tailles égales */
    margin:0 auto;
  }

  
}
